{% extends 'inv/base.html' %}

{% block body %}

<div class="add-product-container">
  <form method="POST" class="add-product-form">
    {% csrf_token %}

    <h4>Agregar nuevo producto</h4>

    {% for field in form %}
    <div class="add-product-group">
      <label for="id_{{ field.name }}" class="add-product-label">{{ field.label }}</label>
      <div class="add-product-field">
        {{ field }}
      </div>
    </div>
    {% endfor %}

    <div class="add-product-group">
      <div class="add-product-btn-wrap">
        <button type="submit" class="add-product-btn">Agregar Producto</button>
      </div>
    </div>
  </form>
</div>

{% endblock %}
