<div class="table-responsive">
  <table class="table table-hover fixed-table">
    <thead>
      <tr>
        <th>Código de Barras</th>
        <th>Nombre</th>
        <th>Tipo</th>
        <th>Precio</th>
        <th>Stock</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>

      {% for producto in productos %}
        <tr>
          <td>{{ producto.codigo_barras|default:"Sin código" }}</td>
          <td>{{ producto.name }}</td>
          <td>{{ producto.product_type.name }}</td>
          <td>${{ producto.price }}</td>
          <td>{{ producto.stock }}</td>
          <td>
            <a href="{% url 'producto_update' producto.pk %}" class="btn btn-warning btn-sm">Editar</a>
            <a href="{% url 'producto_delete' producto.pk %}" class="btn btn-danger btn-sm delete-product-btn">X</a>
          </td>
        </tr>
      {% endfor %}
  </table>
</div>

<script>
  document.addEventListener('click', function(event) {
    if (event.target.matches('.delete-product-btn')) {
      if (!confirm('¿Estás seguro de que deseas eliminar este producto?')) {
        event.preventDefault();
      }
    }
  }, false);
</script>