{% load number_filters %}
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Código de Barras</th>
        <th>Nombre</th>
        <th>Tipo</th>
        <th>Precio</th>
        <th>Stock</th>
        <th>Fecha</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for producto in productos %}
      <tr>
        <td>{{ producto.codigo_barras|default:"-" }}</td>
        <td>{{ producto.name }}</td>
        <td>{{ producto.product_type.name }}</td>
        <td>${{ producto.price|comma_miles }}</td>
        <td>{{ producto.stock }}</td>
        <td>{{ producto.date_added|date:"d/m/Y H:i" }}</td>
        <td>
          <a class="cart-inv-btn" data-product-id="{{ producto.id }}"  data-product-name="{{ producto.name }}" data-product-price="{{ producto.price }}" data-product-stock="{{ producto.stock }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="cart-inv-icon" viewBox="0 0 16 16">
              <path d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5l2.404.961L10.404 2zm3.564 1.426L5.596 5 8 5.961 14.154 3.5zm3.25 1.7-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464z"/>
            </svg>
          </a>
          <a href="{% url 'producto_update' producto.pk %}" class="btn btn-sm btn-warning">Editar</a>
          <!-- <a href="{% url 'producto_detail' producto.pk %}?next=inventario" class="btn btn-sm btn-info">
            Ver
          </a> -->
          {% if user.is_staff %}
          <a href="{% url 'producto_delete' producto.pk %}" class="btn btn-sm btn-danger"
           onclick="return confirm('¿Está seguro que desea eliminar este producto?')">X</a>
           {% endif %}
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="7" class="text-center">No hay productos disponibles</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<!-- Pagination controls (same as historial) -->
<div class="pagination">
  {% if productos.has_previous %}
  <a
    href="?page={{ productos.previous_page_number }}{% if current_query %}&q={{ current_query }}{% endif %}{% if current_type %}&type={{ current_type }}{% endif %}">Anterior</a>
  {% endif %}
  <span>Página {{ productos.number }} de {{ productos.paginator.num_pages }}</span>
  {% if productos.has_next %}
  <a
    href="?page={{ productos.next_page_number }}{% if current_query %}&q={{ current_query }}{% endif %}{% if current_type %}&type={{ current_type }}{% endif %}">Siguiente</a>
  {% endif %}
</div>