{% extends 'inv/base.html' %}
{% load static %}
{% block body %}
<div class="add-product-container">
    <form method="POST" enctype="multipart/form-data" class="add-product-form">
        {% csrf_token %}
        
        <h4>Cargar Productos desde Excel</h4>
        
        
        <div class="add-product-group">
            <label for="{{ form.file.id_for_label }}" class="add-product-label">Archivo Excel</label>
            <div class="add-product-field">
                {{ form.file }}
                {% if form.file.errors %}
                    <div class="text-danger">
                        {% for error in form.file.errors %}
                            <small>{{ error }}</small>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
        
        <div class="alert alert-info">
            <h6>Formato requerido del archivo Excel:</h6>
        </div>
        
        <div class="add-product-group">
            <div class="add-product-btn-wrap">
                <button type="button" class="add-product-btn" onclick="window.location.href='{% url 'inventario' %}'">
                    Cancelar
                </button>
                <button type="submit" class="add-product-btn">
                    Cargar Archivo
                </button>
            </div>
        </div>
             {% if success_message %}
            <div class="alert alert-success">
                {{ success_message }}
            </div>
        {% endif %}
    </form>
</div>

<script src="{% static 'js/main.js' %}"></script>
{% endblock %}